* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2D2D;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #81A969;
}

.login-box {
    text-align: center;
    padding: 20px;
    max-width: 90%;
    width: 400px;
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 70px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.input-box {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    text-align: center;
}

.login-btn {
    width: 150px;
    padding: 10px;
    background-color: #3F6B3F;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.login-btn:hover {
    background-color: #2E5330;
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }

    .input-box {
        max-width: 250px;
    }

    .login-btn {
        width: 80px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 200px;
    }

    h1 {
        font-size: 1rem;
    }

    .input-box {
        max-width: 200px;
    }

    .login-btn {
        width: 70px;
        font-size: 0.8rem;
    }
}
